{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
	<br>
	<form class="form-control">
		<center><h1>Curriculums de Alumnos</h1><hr></center>
		<div class="row">
			
				{% for curriculums in docs_list %}
				<div class=col-md-4>
                    <br>
                    <div class="card">
                    	<div class="card-body">
	                    	<h5><strong>{{ curriculums.nombre }}</strong></h5><hr>
							<strong><p>Telefono</p></strong>
					        <p>{{ curriculums.telefono }}</p>
					        <strong><p>Correo</p></strong>
		                    <p>{{ curriculums.correo }}</p>
		                    <strong><p>Edad</p></strong>
					        <p>{{ curriculums.edad }}</p>
					        <strong><p>Educacion</p></strong>
					        <p>{{ curriculums.educacion }}</p>
					        <strong><p>Experiencia</p></strong>
					        <p>{{ curriculums.experiencia }}</p>
					        <strong><p>Aptitudes</p></strong>
					        <p>{{ curriculums.aptitudes }}</p>
		                    <br>   

					        <p><a  class= "btn btn-primary btn-sm" href="{% url 'modificar' curriculums.id  %}">Modificar</a></p>

					        <p><a  class= "btn btn-danger btn-sm" href="{% url 'eliminar' curriculums.id  %}">Eliminar</a></p>
                    	</div>
                    </div>
				</div>
	    		{% endfor %}

		</div><br><br>
				<p><a  class= "btn btn-primary btn-md-block" href="{% url 'agregar' %}">Agregar</a></p>
	</form>

</div>

{% endblock content %}